* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.add-post {
    position: absolute;
    bottom: 50%;
    left: 50%;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem;
    font-size: 1rem;

}

.simple-form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    width: 70%;
    label {
        margin-top: 1rem;
        margin-bottom: .25rem;
    }
    input, textarea {
        border-radius: 0;
        padding: 1rem;
        font-size: 1rem;
        border: 3px solid black;
        &:focus-visible {
            outline: none;
        }
    }
    button {
        margin-top: 1rem;
        border: none;
        background-color: blue;
        color: #fff;
        padding: 1rem;
        font-size: 1rem;
        width: 30%;
    }
}


nav {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    a {
        color: black;
    }
}

h1 {
    margin-left: 1rem;
}